@import url(main.css);

.photo-gallery{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    font-size: 5px;
}

.photo-gallery img{
    max-width: 100px;
}

iframe{
    background-color: red;
    border-radius: 20px;

    width: 100%;
    height: 300px;
}