@import url(main.css);

html {
    margin: 0px;
    height: 100%;
    width: 100%;
 }
 
 body {
    margin: 0px;
    min-height: 100%;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
 }


/*Embedded video*/
.video-background{
    z-index: -1 !important;
}