@import url(reset.css);

/* add local font */
@font-face {
    font-family: 'Hacky';
    src: url('fonts/Hacky.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}


body{
    background-color: #242429;
    padding: clamp(10px, 2vw, 15px);
    color: white;
    font: 1.2rem 'Roboto', sans-serif;
}

h1{
    margin-inline: 20px;
    margin-block: 50px;
    font-family: 'Hacky', serif;
    font-size: clamp(3rem, 10vw, 10rem);
}

a{
    text-decoration: none;
    position: relative;
    color: currentColor;
    padding-inline: 5px;
}

a::before{
    content: '';
    background-color: rgb(14, 78, 57);
    position: absolute;
    left: 0;
    bottom: 3px;
    width: 100%;
    height: 8px;
    z-index: -1;
    transition: all .3s ease-in-out;
}

a:hover::before {
    bottom: 0;
    height: 100%;
}


/*Utilitaire*/
.bg-video {
    position: fixed;
    left: 0;
    top: 0;
    background-size: cover;
    background: no-repeat center;
    /*margin-left: 50vw;
    */
    user-select: none;
    pointer-events: none;
  
    /*custom styles, for example grayscale appearance*/
    filter: grayscale(0.8);
  
    /*additional tweaks for positioning, read more in the link above*/
    height: 100%;
    width: 177.77777778vh; /* 100 * 16 / 9 */
    min-width: 100%;
    min-height: 56.25vw; /* 100 * 9 / 16 */
  }
  